@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@font-face{
    font-family: Rubik;
    src: url('./assets/fonts/Rubik-VariableFont_wght.ttf');
}
@theme{
    --font-rubik: Rubik, sans-serif;
}
.bg-home{
    background-image: url('/fondo1.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-solutions{
    background-image: url('/fondo2.svg');
    background-repeat: no-repeat;
    background-size: cover;
}